* {
  box-sizing: border-box;
}
:root{
  --primary-color: #cfecff;
  --secondary-color:#218380;
  --background-color:#e6faec;
  --text-color:#368561;
  --other-color:#0a369d;
  --accent-color: #73acd1;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color)
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: var(--primary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--other-color);
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
}
main{
  color: var(--secondary-color)
}
nav a[aria-current='page'] {
  color: black;
  background-color: var(--accent-color);
}

nav a:hover{
  background-color: var(--secondary-color);
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.9rem;
}

.child {
  border: solid 1px var(--accent-color);
  background-color: var(--primary-color);
  padding: 1.5rem;
  margin: 1rem

}
.parent {
display: flex;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
height: 100p;
align-items: center;
background-color: var(--primary-color) ;
}