* {
  box-sizing: border-box;
}
:root {
  --primary-color: #cfecff;
  --secondary-color: #218380;
  --background-color: #e6faec;
  --text-color: #368561;
  --other-color: #0a369d;
  --accent-color: #73acd1;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: var(--primary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--other-color);
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  transition: var(--background-color); 
}
main {
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}
 nav a[aria-current="page"] {
  color: black;
  background-color: var(--accent-color);
}

nav a:hover {
  background-color: var(--secondary-color);
  
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.child {
  border: solid 1px var(--accent-color);
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
}
.picture {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-family: "Times New Roman", Times, serif;
}
.note {
  border: solid 1px var(--other-color);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primary-color);
}
.child2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Times New Roman", Times, serif;
}

.book {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px var(--other-color);
}
.notes {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.parent {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  align-items: center;
  background-color: var(--primary-color);
  min-width: 200px;
}
.home-btn{
  background-color: var(--secondary-color);
  color:black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: var(--background-color).3s ease;
}
.home-btn:hover {
background-color: var(--text-color);
}
