* {
  box-sizing: border-box;
}
:root {
  --primary-color: #cfecff;
  --secondary-color: #218380;
  --background-color: #e6faec;
  --text-color: #368561;
  --other-color: #0a369d;
  --accent-color: #73acd1;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: var(--primary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--other-color);
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  transition: var(--background-color);
}
main {
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}
 nav a[aria-current="page"] {
  color: black;
  background-color: var(--accent-color);
}

nav a:hover {
  background-color: var(--secondary-color);
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

p {
  font-weight: bold;
}

.picture {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  max-width: 400px;
}
.home-button {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: var(--background-color);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-button:hover {
  background-color: var(--text-color);
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
  margin-top: 20px;
  justify-content: space-around;
  gap: 10px;
}

.child {
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 150px;
  justify-content: space-around;
}

.child:hover {
  background-color: var(--accent-color);
}
.child-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.child p {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
}
.link p {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
.link {
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 150px;
}
.author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  background-color: var(--primary-color);
  padding: 20px;
  margin-top: 20px;
  justify-content: space-around;
  gap: 20px;

}

.find {
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 150x;
  justify-content: space-around;
 
}
.find:hover {
  background-color: var(--primary-color);
}